:root {
  --link_and_button_color: #2196f3;
}
body {
  font-family: 'Roboto';
  background-color: #ffffff;
  color: #212121;
  font-size: 14px;
  letter-spacing: 0.03em;
}
a {
  text-decoration: none;
}
header {
  border: 1px solid #ececec;
}
.logo_WS {
  font-family: 'Raleway';
  font-size: 26px;
  color: #000000;
}
.logo_blue {
  color: var(--link_and_button_color);
}

.header_link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #212121;
  display: inline-block;
}
.header_link:hover {
  color: var(--link_and_button_color);
}
.header_kontakt > a {
  color: #757575;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.header_kontakt > a:hover {
  color: var(--link_and_button_color);
}
.header_list > li {
  display: inline-block;
}
.title_section {
  background: #2f303a;
  text-align: center;
}
.title_section > h1 {
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  color: rgb(255, 255, 255);
  font-weight: 900;
  white-space: pre-wrap;
}
.title_section > button {
  width: 200px;
  height: 50px;
  font-family: 'Roboto';
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  background-color: var(--link_and_button_color);
  cursor: pointer;
}
.Our_Advantages > h2 {
  visibility: hidden;
}
.OA_list {
  display: inline-block;
}
.OA_list > h3 {
  font-weight: 700;
  line-height: 1.14;
}
.OA_list > p {
  width: 270px;
  line-height: 1.71;
  color: #757575;
}
.WWD_list {
  display: inline-block;
}
.what_we_do > h2 {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
}
.our_team {
  display: inline-block;
  text-align: center;
  background-color: #f5f4fa;
}
.our_team > h2 {
  padding-top: 94px;
  padding-bottom: 10px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
}
.OT_list {
  display: inline-block;
}
.OT_list > h3 {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
}
.OT_list > p {
  font-size: 16px;
  color: #757575;
}
footer {
  background: #2f303a;
  line-height: 24px;
}
footer > .logo_WS {
  color: #ffffff;
}
.map_address {
  color: #ffffff;
}
.contact_info {
  color: rgba(255, 255, 255, 0.6);
}
address > a {
  display: block;
  font-size: 14px;
  line-height: 1.71;
}
address > a:hover {
  color: var(--link_and_button_color);
}
.current {
  color: var(--link_and_button_color);
}

/* ⬇ <<PORTFOLIO>> ⬇ */

.title_button > h1 {
  visibility: hidden;
}
.TB_list {
  display: inline-flex;
}
.TB_list > button {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  background: #f5f4fa;
  border: none;
  cursor: pointer;
  letter-spacing: 0.03em;
  font-family: inherit;
}
.TB_list > button:hover {
  background-color: var(--link_and_button_color);
  color: #ffffff;
}
.portfolio_list {
  font-weight: 700;
  font-size: 18px;
}
.Port_list {
  display: inline-block;
  width: 370px;
  height: 404px;
  text-align: left;
  background: #ffffff;
  border: 1px solid #eeeeee;
}
.Port_list > h3 {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.Port_list > p {
  font-size: 16px;
  line-height: 1.88;
  color: #757575;
}
